{% extends 'layout.html.twig' %}

{% block content %}
    <div class="well">
        <h3>Module!</h3>
    </div>
    {% if quantity < 2%}
        <form class="form-horizontal" role="form">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="id">Id:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="id" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="generated">Generiert:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="generated" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="code">Code:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="code" placeholder="1.1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="shortname">Kürzel:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="shortname" placeholder="MATHE1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="longname">Bezeichnung:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="longname" placeholder="Lineare Algebra">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Beschreibung:</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="description" placeholder="Die Beschreibung des Moduls"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="semester">Semester:</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="semester" placeholder="2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ects">ECTS:</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="ects" placeholder="6">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="conditions">Vorraussetzung:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="conditions" placeholder="-">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lecturer">Dozent:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="lecturer" placeholder="Prof. Dr. Mustermann">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="attempt">Versuch:</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="attempt" placeholder="1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="grade">Note:</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="grade" placeholder="4,0">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
            {% for i in 0..moduls|length %}
                <th>Semester {{ i+1 }}</th>
            {% endfor %}
                <th><a href="#"><span class="glyphicon glyphicon-plus"></span> Semester</a></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 1..moduls|length %}
                <tr>
                {% for module in moduls[i] %}
                    <td>
                        <label>Id:</label> {{ module.id }} <br>
                        <label>Code:</label> {{ module.code }} <br>
                        <label>Kürzel:</label> {{ module.shortname }} <br>
                        <label>Semester:</label> {{ module.semester }} <br>
                        <label>Dozent:</label> {{ module.lecturer }} <br>
                        <label>Versuch:</label> {{ module.attempt }} <br>
                        <label>Note:</label> {{ module.grade }} <br>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% endif %}
    </div>
{% endblock %}